<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Registro</title>
    {%load static%}
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- logo -->
        <a class="navbar-brand" href="#">
          <img src="{% static 'img_dronboarding/Logo_dronboarding.png'%}" width="150" height="150" alt="">
        </a>
        
        <!-- enlaces -->
        <div class="collapse navbar-collapse" id="opciones">   
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="quienes_somos.html">Quienes somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'galeria'%}">Galeria</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="form_1.html">Inscripcion cursos</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="form_2.html">Comentanos tus ideas</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="api.html">Feriados para volar</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registroAeronaves'%}">RegistroAeronaves</a>
            </li>                
            </ul>
          </div>
    <div>
      </nav>
    <div class="container">
        <div class="row">
            <center>
            <h1>Registro de Aeronaves.</h1>  
            <img class="d-block w-100" src="{% static 'img_dronboarding/img_dron_03.jpg'%}" width="80%" height="80%">
            </center>  
        </div>
        <div class="row">
            <h1>Aeronaves registradas:</h1>
        </div>
        <div class="row">
            <table border="1">
                <tr>
                    <td>Numero serie</td>
                    <td>Marca</td>
                    <td>Modelo</td>
                </tr>
                {% for ae in datos %}
                    <tr>
                        <td>{{ae.numeroSerie}}</td>
                        <td>{{ae.modelo}}</td>
                        <td>{{ae.marca}}</td>
                    </tr>
                {%endfor%}
            </table>



        </div>



    </div>
    <div class="row">
        <div class="col-xl-12"  style="background-color:rgb(224, 224, 224)">
        <h5 class="derechos_reservados">
            Integrante: Matías Bravo Morales   @Copyrigth Derechos reservados
        </h5>
        <img src="{% static 'img_dronboarding/instagram_logo.png'%}" width="50" height="50" >
        <img src="{% static 'img_dronboarding/facebook_logo.png'%}" width="50" height="50" >
        <img src="{% static 'img_dronboarding/youtube_logo.png'%}" width="50" height="50" >    
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </div>
</body>
</html>