<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Aeronave</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    {%load static%}
    {%load static%}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <img src="{% static 'img_dronboarding/Logo_dronboarding.png'%}" width="150" height="150" alt="">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index'%}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Quienes somos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'galeria'%}">Galeria</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Inscripcion cursos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Ideas?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Feriados para volar</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Registros aeronaves
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'crearAeronave'%}">Registrar</a></li>
                      <li><a class="dropdown-item" href="{% url 'registroAeronaves'%}">Listados y edicion</a></li>
                      <li><hr class="dropdown-divider"></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    <div class="container">
        <div class="row">
            <center>
                <h1>Registrar aeronave</h1>
            </center>
        </div>
        <div class="row">
            <form method="POST" action="#" id="formulario">
                {%csrf_token%}
                <div class="row">
                    {{aeronave.numeroSerie.label}}
                    {{aeronave.numeroSerie}}
                </div>
                <div class="row">
                    {{aeronave.marca.label}}
                    {{aeronave.marca}}
                </div>
                <div class="row">
                    {{aeronave.modelo.label}}
                    {{aeronave.modelo}}
                </div>
                <div class="row">
                    {{aeronave.categoria.label}}
                    {{aeronave.categoria}}
                </div>
                <div class="row">
                    <input type="submit" class="btn btn-danger" id="enviar" value="enviar">
                    <hr>
                    <input type="reset" class="btn btn-primary" id="limpiar" value="limpiar">
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-12"  style="background-color:rgb(224, 224, 224)">
        <h5 class="derechos_reservados">
            Integrante: Matías Bravo Morales   @Copyrigth Derechos reservados
        </h5>
        <img src="{% static 'img_dronboarding/instagram_logo.png'%}" width="50" height="50" >
        <img src="{% static 'img_dronboarding/facebook_logo.png'%}" width="50" height="50" >
        <img src="{% static 'img_dronboarding/youtube_logo.png'%}" width="50" height="50" >    
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </div>
</body>
</html>